:root{
    --tabbackground:white;
    --mainbackground:#f1f3f4;
    --maintext:#5f6368;
    --colortitle:#202124;
    --colordarktext:#5f6368;
    --border:0px;
    --borderfooter:1px solid #bdc1c6;
    --sidetab1width:60%;
    --sidetab2width:35%;
    --sidetab3width:47.5%;
    --shadow:0 1px 2px 0 rgba(60, 64, 67, .3),0 2px 6px 2px rgba(60, 64, 67, .15);
    --shadowwebkit:0 1px 2px 0 rgba(60, 64, 67, .3),0 2px 6px 2px rgba(60, 64, 67, .15);
    --borderbottom:0px;
    --linkcolor:coral;
    --calcagnocolor:#121212;
    --calcagnotesto:white
}
[data-theme=dark]{
    --tabbackground:#121212;
    --mainbackground:black;
    --maintext:#e1e1ff;
    --colortitle:white;
    --colordarktext:#20C20E;
    --border:1px solid white;
    --borderfooter:1px solid white;
    --sidetab1width:calc(60% - 2px);
    --sidetab2width:calc(35% - 2px);
    --sidetab3width:calc(47.5% - 2px);
    --shadow:0;
    --shadowwebkit:0;
    --borderbottom:solid 1px white;
    --linkcolor:#03DDCB;
    --calcagnocolor:#f1f3f4;
    --calcagnotesto:#121212
}
html{
    font-family:Raleway,sans-serif
}
navbar{
    background:rgba(0,0,0,0)
}
.navbarBig{
    z-index:5;
    position: relative;
}
.ombratitolo{
    height:0;
    width:100%;
    -webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    position:fixed;
    top:51px;
    z-index: 4;
}
.maintab{
    top:300px;
    width:800px;
    height:1198px;
    border:var(--border);
    background-color:var(--tabbackground);
    margin:35px auto 50px auto;
    position:relative;
    display:table;
    transform:translateZ(0);
    max-width:95vw!important
}
.stripe{
    width:100%;
    position:absolute;
    top:500px;
    height:150px;
    transform:skewY(-3deg) translateY(-50%) translateY(1px)
}
.stripe1{
    top:500px;
    background-color:#ffbd00;
    transform:skewY(-3deg) translateY(-50%) translateY(1px) translateX(-3px)!important
}
.stripe2{
    top:1200px;
    height:75px!important;
    background-color:#ffbd00;
    transform:skewY(-3deg) translateY(-50%) translateY(1px) translateX(-3px)!important
}
.stripe3{
    top:150px;
    background-color:#121212;
    height:100px
}
.stripe5{
    top:350px;
    background-color:#ba000d;
    height:75px
}
#group1{
    z-index:5
}
#group1 .layer_parallasse-base{
    background:#6c6
}
#group2{
    z-index:3
}
#group2 .layer_parallasse-back{
    background:#7bd266
}
#group3{
    z-index:4;
    height:300px
}
#tracker{
    position:absolute;
    height:2px;
    width:2px;
    top:300px;
    left:300px
}
.parallax{
    height:500px;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-perspective:300px;
    perspective:300px;
    position:relative
}
.gruppo_parallasse{
    position:relative;
    height:500px;
    transform-style: preserve-3d;
}
.layer_parallasse{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0
}
.maincard{
    height:1200px
}
.layer_parallasse-fronte{
    -webkit-transform:translateZ(90px) scale(.7);
    transform:translateZ(90px) scale(.7);
    z-index:100;
    position:relative
}
.layer_parallasse-base{
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    z-index:4
}
.layer_parallasse-back{
    -webkit-transform:translateZ(-300px) scale(2);
    transform:translateZ(-300px) scale(2);
    z-index:3
}
.parallax__layer--deep{
    -webkit-transform:translateZ(-600px) scale(3);
    transform:translateZ(-600px) scale(3);
    z-index:2
}
.debug{
    position:fixed;
    top:0;
    left:.5em;
    z-index:999;
    background:rgba(0,0,0,.85);
    color:#fff;
    padding:.5em;
    border-radius:0 0 5px 5px
}
.debug-on .gruppo_parallasse{
    -webkit-transform:translate3d(800px,0,-800px) rotateY(30deg);
    transform:translate3d(700px,0,-800px) rotateY(30deg)
}
.debug-on .layer_parallasse{
    box-shadow:0 0 0 2px #000;
    opacity:.9
}
.gruppo_parallasse{
    -webkit-transition:-webkit-transform .5s;
    transition:transform .5s
}
.divider{
    width:100%;
    height:0;
    border-bottom:1px solid #bdc1c6
}
.containertesto2elem1{
    padding-left:20px;
    padding-right:50px
}
#elem1{
    height:1350px;
    top:17px
}
.elem2{
    overflow:hidden;
    width:100%
}
.stripeparallax{
    top:200px;
    width:100%;
    height:1200px
}
.foregruppetti{
    height:450px
}
.basegruppetti{
    height:300px
}
.elem6{
    background-image:url(background13.png);
    height:150px
}
.titoloblock{
    padding:20px 20px 0 20px;
    text-align:center;
    font-weight:1000
}
.testoblock{
    padding:5px 15px 10px 15px
}
.blocchetti{
    width:800px;
    position:relative;
    margin:0 auto 0 auto;
    padding-top:50px;
    padding-bottom:50px
}
.sidetab1{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    width:var(--sidetab1width);
    border:var(--border);
    height:300px;
    margin-right:5%
}
.sidetab2{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    border:var(--border);
    width:var(--sidetab2width);
    height:300px;
    margin-left:auto
}
.sidetab3{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    width:var(--sidetab3width);
    border:var(--border);
    height:300px;
    margin-right:5%
}
.sidetab4{
    position:relative;
    display:inline-block;
    background-color:var(--tabbackground);
    border:var(--border);
    width:var(--sidetab3width);
    height:300px;
    margin-left:auto
}
header{
    contain:layout;
    pointer-events:none;
    position:fixed;
    top:0;
    left:0;
    background-color:var(--tabbackground);
    width:100%;
    border-bottom:var(--borderbottom);
    z-index:10;
    transition:.3s
}
.topbar{
    width: 100%;
    position: fixed;
    height:51px;
    border-bottom:1px solid #bdc1c6;
    z-index:10;
    background-color:var(--tabbackground);
    display: grid;
    overflow:hidden;
    grid-template-columns: 70% 15% 15%;
}
.ptitlesub{
    height:51px;
    display:none;
    width:100%;
    position:relative;
    text-align:center;
    background-color:var(--tabbackground);
    border-bottom:1px solid #bdc1c6
}
.switchsub{
    margin-top:5px
}
.ptitlesubcontainer{
    display:table;
    margin:auto
}
a:link{
    color:var(--linkcolor);
    background-color:transparent;
    text-decoration:none
}
a:visited{
    color:var(--linkcolor);
    background-color:transparent;
    text-decoration:none
}
#navigation{
    position:absolute;
    text-align:left;
    top:0;
    transition:.3s
}
.Titolone{
    font-size:1.5em;
    color:var(--colortitle);
    margin: 0 0 0 0;
    padding-bottom: 20px;
}
.titlecontainer{
  vertical-align: middle;
  display: table-cell;
}
.italic{
    font-style:italic
}
#immaginediv{
    text-align:center
}
.centro{
    text-align:center
}
.testocasella{
    padding:0 10px 0 10px
}
#immagine{
    padding-top:45px;
    width:250px;
    height:250px
}
.testo1elem1{
    width:329px;
    padding-left:50px;
    padding-right:20px;
    height:823px;
    vertical-align:middle;
    border-right:1px solid #bdc1c6
}
.maintext {
    display: grid;
}
.testo2elem1 {
    width: 330px;
    height: 823px;
    padding-left: 20px;
    padding-right: 50px;
}
.containertestoelem1 {
    max-width: 400px;
    margin-top: 16px;
    grid-row: 1;
    grid-column: 1;
}
.containertestoelem2 {
    max-width: 400px;
    margin-top: 16px;
    grid-row: 1;
    grid-column: 2;
}
.maintabdivider{
    width:100%;
    height:0;
    padding-top:45px;
    text-align:center
}
.progetto{
    max-width:85%;
    margin:auto
}
#topTitle{
    z-index:1;
    height:236px;
    background-color:var(--tabbackground);
    transition:.3s;
    display:table;
    width:100%;
    box-shadow:var(--shadow);
    border-bottom:var(--borderbottom)
}
.ptitle{
    display:inline-block;
    padding-left:5px
}
.grande{
    font-size:1.2em;
    padding-top:8px
}
.slimtop{
    margin-top:8px
}
.slimbottom{
    margin-bottom:8px
}
.moltogrande{
    font-size:1.3em
}
.ml12{
    font-weight:200
}
.ml12 .letter{
    display:inline-block;
    line-height:1em
}
.containertitle{
    display:inline-block;
    padding-left:6px
}
#titlecentered{
    text-align:center;
    vertical-align:middle;
}
.sfalzo{
  grid-row: 1;
  grid-column: 1;
  margin-left: 30%;
}
.topbarlast2{
  grid-row: 1;
  grid-column: 2;
}
.topbarlast1{
  grid-row: 1;
  grid-column: 3;
  margin-left: 0px !important;
}
#curriculum{
    text-align:inherit;
    min-height:19px;
    margin:16px 0 16px 0
}
#card{
    border-radius:3px;
    -webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
    vertical-align:top;
    margin-bottom:40px
}
body,html{
    background-color:var(--mainbackground);
    color:var(--maintext);
    text-align:justify;
    transition:.3s;
    margin:0
}
footer{
    background-color:var(--mainbackground);
    vertical-align:bottom;
    border-top:1px solid #bdc1c6
}
.footerparallax{
    height:fit-content;
    height: -moz-max-content;
}
.calcagno{
    height:35px;
    background-color:var(--calcagnocolor);
    vertical-align:middle;
    text-align:center;
    color:var(--calcagnotesto)
}
.calcagnotext{
    padding-top:10px;
    margin:0
}
.footerblock{
    width:33%;
    display:table-cell
}
.testofooter{
    padding:30px 35px 10px 35px;
    margin:0
}
#foot-sec{
    position:relative
}
.footer2{
    border-left:var(--borderfooter);
    border-right:var(--borderfooter);
    text-align:left!important
}
.switchdiv{
    z-index:auto;
    pointer-events:all;
    vertical-align:middle;
    padding-right:10px;
    color:var(--colordarktext);
    margin: auto;
}
#darkmode{
    font-size:.9em;
    font-weight:100
}
#darkmode2{
    font-size:.9em;
    font-weight:100
}
.blocchettihidden{
    display:none
}
.switch{
    position:relative;
    display:inline-block;
    width:60px;
    height:34px;
}
.switch input{
    opacity:0;
    width:0;
    height:0
}
.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ccc;
    -webkit-transition:.4s;
    transition:.4s
}
.slider:before{
    position:absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color:#fff;
    -webkit-transition:.4s;
    transition:.4s
}
input:checked+.slider{
    background-color:#2196f3
}
input:focus+.slider{
    box-shadow:0 0 1px #2196f3
}
input:checked+.slider:before{
    -webkit-transform:translateX(26px);
    -ms-transform:translateX(26px);
    transform:translateX(26px)
}
.slider.round{
    border-radius:34px
}
.slider.round:before{
    border-radius:50%
}
@media screen and (max-width:850px){
    .sfalzo{
        text-align:left!important
    }
    .maintab{
        width:95vw
    }
    .containertestoelem1{
        max-width:95vw!important
    }
    .testo1elem1{
        width:auto!important;
        border-right:0!important;
        height:auto!important
    }
    .maincard{
        height:fit-content!important;
        height: -moz-max-content;
    }
    .containertesto2elem1{
        padding-left:50px
    }
    .testo1elem1{
        padding-right:50px!important
    }
    .gruppo_parallasse{
        height:fit-content!important;
        height: -moz-max-content;
    }
    .blocchetti{
        max-width:95vw;
        padding-top:0;
        padding-bottom:0
    }
    .blocchettihidden{
        display:block
    }
    .sidetab{
        width:95vw;
        height:auto!important
    }
    .foregruppetti{
        height:fit-content!important;
        height: -moz-max-content;
    }
    .footerblock{
        width:100vw;
        display:block;
        border-bottom:1px solid #bdc1c6;
        border-left-width:0;
        border-right-width:0;
        border-top-width:0
    }
    .testofooter{
        padding:30px 35px 30px 35px
    }
    .maintab{
        top:150px
    }
    #group5{
        display:none
    }
    .ptitlesub{
        display:block
    }
    .switchdiva{
        display:none
    }
}
@media screen and (max-width:399px){
    #titlecentered{
        font-size:.9em!important
    }
}
