---
layout: default
title: Guide di Ingegneria Aerospaziale
show_backToHome: true
Lang: it
path: "/guides/aes/"

---
<body>
    <div style="margin-top: 50px;"></div>
    <div class="wrapper">
        <div class="learnmoreWrapper">
            {% include bigbutton.html url="./corso6cfu.html" title="Corso da 6 CFU" desc="Clicca qui per aprire la guida." %}
            {% include bigbutton.html url="https://www.dropbox.com/request/hE4zEa2OOkwi7wP6J4VU" title="Commenti" desc="Caricate un documento di testo per lasciare un commento" %}
        </div>
      </div>
