---
layout: default
title: Guide
show_backToHome: true
Lang: en
---

<body>
  <div class="wrapper projectsPadding">
    <div class="learnmoreWrapper">
      {% include bigbutton.html url="./design_della_comunicazione.html"
      title="Communication Design" desc="Representatives' presentations"
      icon="fas fa-server" %} {% include bigbutton.html
      url="./design_della_moda.html" title="Fashion Design and Design for the
      Fashion System" desc="Representatives' presentations" icon="fas fa-server"
      %} {% include bigbutton.html url="./ingegneria_aerospaziale.html"
      title="Aerospace Engineering" desc="Representatives' presentations"
      icon="fas fa-server" %} {% include bigbutton.html
      url="./ingegneria_biomedica.html" title="Biomedical Engineering"
      desc="Representatives' presentations" icon="fas fa-server" %} {% include
      bigbutton.html url="./ingegneria_matnano.html" title="Materials
      Engineering and Nanotechnology" desc="Representatives' presentations"
      icon="fas fa-server" %} {% include bigbutton.html
      url="./ingegneria_gestionale.html" title="Management Engineering"
      desc="Representatives' presentations" icon="fas fa-server" %} {% include
      bigbutton.html url="./ingegneria_informatica.html" title="Computer
      Engineering" desc="Representatives' presentations" icon="fas fa-server" %}
      {% include bigbutton.html url="./ingegneria_per_ambiente.html"
      title="Environmental and Territorial Engineering" desc="Representatives'
      presentations" icon="fas fa-server" %}
    </div>
  </div>
</body>
