---
layout: default
title: Guide
show_backToHome: true
Lang: it
---

<body>
	<div class="wrapper projectsPadding">
		<div class="learnmoreWrapper">
			{% include bigbutton.html url="./communication/" title="Communication Design" desc="Representatives' presentations" icon="fas fa-server" %}
			{% include bigbutton.html url="./fashion/" title="Fashion Design and Design for the Fashion System" desc="Representatives' presentations" icon="fas fa-server" %}
			{% include bigbutton.html url="./aes/" title="Aerospace Engineering" desc="Representatives' presentations" icon="fas fa-server" %}
			{% include bigbutton.html url="./bio/" title="Biomedical Engineering" desc="Representatives' presentations" icon="fas fa-server" %}
			{% include bigbutton.html url="./matnano/" title="Materials and Nanotechnology Engineering" desc="Representatives' presentations" icon="fas fa-server" %}
			{% include bigbutton.html url="./management/" title="Management Engineering" desc="Representatives' presentations" icon="fas fa-server" %}
			{% include bigbutton.html url="./compsc/" title="Computer Engineering" desc="Representatives' presentations" icon="fas fa-server" %}
			{% include bigbutton.html url="./ambienteeterritorio/" title="Environmental and Territorial Engineering" desc="Representatives' presentations" icon="fas fa-server" %}
		</div>
	</div>
</body>
