---
layout: default
title: Guide
show_backToHome: true
Lang: it
---
<body>
        <div style="margin-top: 50px;"></div>
        <div class="wrapper">
            <div class="learnmoreWrapper">
              {% include bigbutton.html url="./info/" title="Informatica" desc="Clicca per avere tutte le guide disponibili." icon="fas fa-server" %}
              {% include bigbutton.html url="./aes/" title="Aerospaziale" desc="Clicca per avere tutte le guide disponibili." icon="fas fa-rocket"%}
            </div>
          </div>
