---
layout: default
title: Home
show_backToHome: false
lang: IT
LTitolone: Trova il tuo gruppo!
LgroupsTitle: Gruppi 👥
LgroupsText: The main effort of the Network is creating and maintaining groups of students on Telegram and Facebook, providing support and answering to university related questions
LFacebookTitle: Gruppo generale Facebook
LTelegramTitle: Gruppo generale Telegram
LAllCoursesTitle: 🔍 Gruppi di tutti i corsi 🔍
LExtraTitle: 🧩 Gruppi extra 🧩
LRules: 📝 Regole 📝
LGuidesTitle: Guide 📖
LGuidesText: A collection of guides built by the members of the Network
LProjectsTitle: Progetti 🛠
LProjectsText: Click to find out about the projects maintained by the Network
LInfoTitle: Info ❓
LInfoText: Find out more about who we are and what we do
OtherLanguage: en
path: ""
---

{% include navbar.html %}
{% include homepage.html %}
