<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title> PoliNetwork - {{ page.title }} </title>
<meta name="title" content="PoliNetwork - {{ page.title }}">
<meta name="description" content="Website of telegram, whatsapp, facebook groups of Politecnico di Milano, created by his students">
<meta itemprop="image" content="https://polinetwork.github.io/res/images/polinetwork.webp">
<meta property="og:type" content="website">
<meta property="og:title" content="PoliNetwork - {{ page.title }}">
<meta property="og:description" content="Website of telegram, whatsapp, facebook groups of Politecnico di Milano, created by his students">
<meta property="og:image" content="https://polinetwork.github.io/res/images/polinetwork.webp">
<meta property="og:url" content="https://polinetwork.github.io/">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="PoliNetwork">
<meta name="twitter:image:alt" content="https://polinetwork.github.io/res/images/polinetwork.png">
<meta name="twitter:site" content="@poliminetwork">
<meta property="twitter:title" content="PoliNetwork">
