< header>
    <div class="topbar">
      {% if page.show_backToHome != false %}
        <div class="backToHome">
          <a href="../"><i class="far fa-arrow-alt-circle-left"></i></a>
        </div>
      {% endif %}
        <div class="" id="titlecentered">
            <div class="containerTop">
                <div class="containertitle">
                    <p class="ptitle"><b> PoliNetwork</b></p>
                </div>
                <div id="navigation" class="containertitle ml12">
                    <p class="slidernavbar">- {{ page.title }}</p>
                </div>
            </div>
        </div>
        <div class="darkButton">
            <div class="switchdiv switchdiva">
                <p id="darkmode">Enable_Dark_Mode</p>
            </div>
            <div class="switchdiv switchdivb"><label class="theme-switch switch"> <input id="darkmodeinputID" type="checkbox"> <span
                    class="slider round"></span> </label></div>
            <div class="dropdown">
                <button class="dropbtn"><i class="fa fa-bars"></i></button>
                <div class="dropdown-content">
                    <div class="ptitlesubcontainer">
                        <div class="switchdivb">
                            <p id="darkmode2">Enable_Dark_Mode</p>
                        </div>
                        <div class="switchdivb"><label class="theme-switchb switch"> <input id="darkmodeinputID2" type="checkbox"> <span
                                class="slider round"></span> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
