<body>
    <div style="margin-top: 50px;"></div>
    <div class="wrapper">
        <div class="projectsWrapper">
            <div class="card project white horizontalcardswrapper">
                <img class="project-img" src="/res/images/polimi.jpg">
                <div class="project-content">
                    <h2>PoliBeePsync</h2>
                    <p>Automated PoliMi BeeP folders download.</p>
                </div>
            </div>
            <div class="card project white horizontalcardswrapper">
                <img class="project-img" src="/res/images/polimi.jpg">
                <div class="project-content">
                    <h2>PoliMi schedule converter</h2>
                    <p>Generate an iCalendar (.ics) file from the text format of the lesson timetable. Ability to import to Google Calendar</p>
                </div>
            </div>
            <div class="card project white horizontalcardswrapper">
                <img class="project-img" src="/res/images/polimi.jpg">
                <div class="project-content">
                    <h2>PoliDL</h2>
                    <p>Download videos from Cisco Webex and Microsoft Stream! New version with graphical interface.</p>
                </div>
            </div>
            <div class="card project white horizontalcardswrapper">
                <img class="project-img" src="/res/images/polimi.jpg">
                <div class="project-content">
                    <h2>WebXDownloader</h2>
                    <p>Browser extension to download Webex meeting recordings</p>
                </div>
            </div>
            <div class="card project white horizontalcardswrapper">
                <img class="project-img" src="/res/images/polimi.jpg">
                <div class="project-content">
                    <h2>PoliBeePsync</h2>
                    <p>Automated PoliMi BeeP folders download.</p>
                </div>
            </div>
            <div class="card project white horizontalcardswrapper">
                <img class="project-img" src="/res/images/polimi.jpg">
                <div class="project-content">
                    <h2>PoliMi schedule converter</h2>
                    <p>Generate an iCalendar (.ics) file from the text format of the lesson timetable. Ability to import to Google Calendar</p>
                </div>
            </div>
            <div class="card project white horizontalcardswrapper">
                <img class="project-img" src="/res/images/polimi.jpg">
                <div class="project-content">
                    <h2>PoliDL</h2>
                    <p>Download videos from Cisco Webex and Microsoft Stream! New version with graphical interface.</p>
                </div>
            </div>
            <div class="card project white horizontalcardswrapper">
                <img class="project-img" src="/res/images/polimi.jpg">
                <div class="project-content">
                    <h2>WebXDownloader</h2>
                    <p>Browser extension to download Webex meeting recordings</p>
                </div>
            </div>
        </div>
      </div>
