<div class="socialBanner">
  <div class="homepagesocial">
    <a class="socialHomepageIcon socialHomepageIcon1" href="https://instagram.com/polinetwork_"> <i class="fab fa-instagram"></i></a>
    <a class="socialHomepageIcon socialHomepageIcon2" href="https://www.facebook.com/PolitecnicoDiMilanoNetwork"> <i class="fab fa-facebook"></i> </a>
    <a class="socialHomepageIcon socialHomepageIcon3" href="https://github.com/PoliNetworkOrg"> <i class="fab fa-github"></i> </a>
    <a class="socialHomepageIcon socialHomepageIcon4" href="https://discord.gg/Fp7ZHcC"> <i class="fab fa-discord"></i> </a>
    <a class="socialHomepageIcon socialHomepageIcon5" href="https://it.linkedin.com/company/polinetwork"> <i class="fab fa-linkedin"></i> </a>
  </div>
</div>