{% capture expiredToggle %}{{expiredToggle | strip}}{% endcapture %}
{% capture now %}{{ "now" | date: "%e %b %Y"}}{% endcapture %}
{% for staff-member in site.data.staff.staff %}
  {% capture ID %}
    {% capture class %} {{ include.class }} {% endcapture %}
    {%- include IDfinderAbout_us.html class=class -%}
  {% endcapture %}
  {% capture ID %}{{ID | strip}}{% endcapture %}
  {% for role in staff-member.roles %}
    {% capture expiration %}{{ role.nomination-date | date: "%e" }} {{ role.nomination-date | date: "%b" }} {{ role.nomination-date | date: "%Y" | plus: 1 }}{% endcapture %}
    {% capture expiration %}{{expiration | date: "%s"}}{% endcapture %}
    {% capture now %}{{now | date: "%s"}}{% endcapture %}
    {% capture expiration-date %}{{ role.expiration-date | date: "%s"}}{% endcapture %}
    {% for roleID in role.id %}
      {% if roleID contains ID %}
        {% if ID contains 'a' %}
          {% if include.expired == 'y' %}
            {% if role.expiration-date != nil and expiration-date <= now %}
              <li>
                {% include staff_member.html lang=include.lang lang=include.lang name=staff-member.name role=lang.title expiration-date=expiration-date nomination-date=role.nomination-date -%}
              </li>
            {% endif %}
          {% else %}
            {% if role.expiration-date == nil or expiration-date >= now %}
              <li>
                {% include staff_member.html lang=include.lang name=staff-member.name role=lang.title expiration-date=expiration-date nomination-date=role.nomination-date -%}
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
        {% if ID contains 'b' %}
          {% for item in site.data.staff.roles %}
            {% if item.id == roleID %}
              {% for lang in item.titles %}
                {% if lang.language == include.lang %}
                  {% if include.expired == 'y' %}
                    {% if now >= expiration or role.expiration-date != nil and expiration-date <= now %}
                      <li>
                        {% include staff_member.html lang=include.lang name=staff-member.name role=lang.title expiration=expiration expiration-date=expiration-date nomination-date=role.nomination-date -%}
                      </li>
                    {% endif %}
                  {% else %}
                    {% if now < expiration and role.expiration-date == nil or expiration-date >= now %}
                      <li>
                        {% include staff_member.html lang=include.lang name=staff-member.name role=lang.title expiration=expiration expiration-date=expiration-date nomination-date=role.nomination-date -%}
                      </li>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if ID contains 'c' %}
          {% for item in site.data.staff.roles %}
            {% if item.id == roleID %}
              {% for lang in item.titles %}
                {% if lang.language == include.lang %}
                  {% if include.expired == 'y' %}
                    {% if now >= expiration or role.expiration-date != nil and expiration-date <= now %}
                      <li>
                        {% include staff_member.html lang=include.lang name=staff-member.name role=lang.title expiration=expiration expiration-date=expiration-date nomination-date=role.nomination-date -%}
                      </li>
                    {% endif %}
                  {% else %}
                    {% if now < expiration and role.expiration-date == nil or expiration-date >= now %}
                        <li>
                          {% include staff_member.html lang=include.lang name=staff-member.name role=lang.title expiration=expiration expiration-date=expiration-date nomination-date=role.nomination-date -%}
                        </li>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if ID contains 'u' %}
          {% if include.expired == 'y' %}
            {% if role.expiration-date != nil and expiration-date <= now %}
              <li>
                {% include staff_member.html lang=include.lang name=staff-member.name role=lang.title expiration-date=expiration-date nomination-date=role.nomination-date -%}
              </li>
            {% endif %}
          {% else %}
            {% if role.expiration-date == nil or expiration-date >= now %}
              <li>
                {% include staff_member.html lang=include.lang name=staff-member.name role=lang.title expiration-date=expiration-date nomination-date=role.nomination-date -%}
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
