---
layout: default
title: Guides
show_backToHome: true
Lang: en
---

<body>
	<div class="wrapper projectsPadding">
		<div class="learnmoreWrapper">
			{% include bigbutton.html url="./info/" title="Eng. of Computing Systems"
			desc="Click here to open all the guides available." icon="fas fa-server"
			%} {% include bigbutton.html url="./aes/" title="Aerospace Eng."
			desc="Click here to open all the guides available." icon="fas fa-rocket"
			%} {% include bigbutton.html url="./../faq/" title="FAQ" desc="Click here
			to open the FAQ" icon="fas fa-comment"%}
		</div>
	</div>
</body>
