html {
    background-color: #242424;
    color: white;
    line-height: 1.4;
    font-family:monospace;
    text-align: justify;
}

h1 {
    font-size: 2.6em;
    text-align: center;
}

title {
    padding: 0px 0px 20px 0px;
}

.accent {
    color: #BB86FC;
}

.subtitle {
    font-size: 1.1em;
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    padding: 20px 20px;
}

.course h3 {
    color: #03DAC5;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0.5em;
    text-stroke: 1px #121212;
}

.course {
    margin-top: 32px;
}

.comment {
    font-size: 1.1em;
    margin: 32px 0px;
}

.footer {
    margin-top: 32px;
    font-size: 1.1em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.telegram {
    height: 42px;
    margin-right: 1.5em;
    filter: grayscale(30%);
}

.manifest {
    height: 36px;
    filter: invert(100) brightness(85%);
    margin-right: 1.5em;
}