@font-face {
  font-family: futura;
  src: url(./futura);
}

@font-face {
  font-family: futura-bold;
  src: url(./futura-bold);
}


@font-face {
  font-family: montserrat;
  src: url(./Montserrat-Regular.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(./Montserrat-Bold.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./Roboto-Regular.ttf);
}

@font-face {
  font-family: robotomono;
  src: url(./RobotoMono-Regular.ttf);
}

html{
	font-family: robotomono, monospace;
    background-color: #121212;
    color: white;
}
h1 {
    font-size:40px;
    text-align: center;
}
title{
    padding: 0px 0px 20px 0px;
}
p {
    font-size:14px;
    text-align: justify;
    margin: 0 0 0 0;
}
.wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    padding: 20px 20px;
}
.accent {
    color: #BB86FC;
}
.secondary{
    color: #03DAC5;
}
p {
    font-size: 1em;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
