---
layout: default
title: Su di noi
show_backToHome: true
Lang: it
path: /about_us/
---


<!--
{% include staff_member.html name=guarantor.name role="ruolo" period="2010-2011" %}

both role and period are optionals

period and role
2010-2011 Elia Maggioni - ruolo

only period
2010-2011 Elia Maggioni

only role
Elia Maggioni - role

no role and no period
Elia Maggioni
 -->


<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
  	<h1>Garanti</h1>
    <ul style="text-align:left;list-style: none;padding-left: 20px;">
      {% for item in site.data.staff.staff %}
        {% for guarantor in item.guarantors %}
            <li>
              {% include staff_member.html name=guarantor.name %}
            </li>
        {% endfor %}
      {% endfor %}
    </ul>
	<h1>Ruoli</h1>
    <ul style="text-align:left;list-style: none;padding-left: 20px;">
      {% for item in site.data.staff.staff %}
        {% for delegate in item.delegates %}
            <li>
              {% include staff_member.html name=delegate.name %}
            </li>
        {% endfor %}
      {% endfor %}
    </ul>
	<h1>Consiglio degli admin</h1>
    <ul style="text-align:left;list-style: none;padding-left: 20px;">
      {% for item in site.data.staff.staff %}
        {% for council-member in item.council-members %}
            <li>
              {% include staff_member.html name=council-member.name role=council-member.ccs-lang %}
            </li>
        {% endfor %}
      {% endfor %}
    </ul>
	<h3>Uditori</h3>
    <ul style="text-align:left;list-style: none;padding-left: 20px;">
      {% for item in site.data.staff.staff %}
        {% for council-listener in item.council-listeners %}
            <li>
              {% include staff_member.html name=council-listener.name  %}
            </li>
        {% endfor %}
      {% endfor %}
    </ul>
	<h1>Storia</h1>


	{% for item in site.data.staff.staff %}
		{% for historyItem in item.history %}
			<h3>
				{{ historyItem.titles }}
			</h3>
			<ul style="text-align:left;list-style: none;padding-left: 20px;">
				{% for member in historyItem.members %}
					<li>
						{% include staff_member.html name=member.name period=member.period %}
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	{% endfor %}

  </div>
</div>
