---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">

		<h1>{{page.LHistory}}</h1>

		<h3>{{page.LIdeator}}</h3>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="ideator" %}
		</ul>

		<h3>{{page.LFounders}}</h3>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="founder" expired="y" %}
			{% include staff_members.html lang=page.Lang class="founder" expired="n" %}
		</ul>
		<h3>{{page.LGuarantorsHistory}}</h3>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="guarantor" expired="y" %}
		</ul>
		<h3>{{page.LRolesHistory}}</h3>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="delegate" expired="y" %}
		</ul>
		<h3>{{page.LCouncilHistory}}</h3>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="headadmin" expired="y" %}
		</ul>
		<hr>
		<table style="width:100%;">
			<tr style="text-align: center;width: 100%;">
				<td style="text-align: center;width: 50%;">
					<a style="text-align: center;width: 100%;" href="./../../../learnmore/contacts/">✍ {{page.Lcontacts}}</a>
				</td>
				<td style="text-align: center;width: 50%;">
					<a style="text-align: center;width: 100%;" href="./../../../learnmore/about_us/">🔙 Back</a>
				</td>
			</tr>
		</table>
	</div>
</div>