---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">

		<h1>{{page.LHistory}}</h1>

		<h3>{{page.LIdeator}}</h3>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="ideator" %}
		</ul>

		<h3>{{page.LFounders}}</h3>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="founder" expired="y" %}
			{% include staff_members.html lang=page.Lang class="founder" expired="n" %}
		</ul>
		<h3>{{page.LGuarantorsHistory}}</h3>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="guarantor" expired="y" %}
		</ul>
		<h3>{{page.LRolesHistory}}</h3>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="delegate" expired="y" %}
		</ul>
		<h3>{{page.LCouncilHistory}}</h3>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="headadmin" expired="y" %}
		</ul>
		<hr>
		<table class="fullWidth accentText">
			<tr class="about_us_tr">
				<td class="about_us_td">
					<a class="about_us_tr" href="/{{page.Lang}}/learnmore/contacts/"><i class="fa fa-address-book"></i>&nbsp;{{page.Lcontacts}}</a>
				</td>
				<td class="about_us_td">
					<a class="about_us_tr" href="../"><i class="fas fa-step-backward"></i> Back</a>
				</td>
			</tr>
		</table>
	</div>
</div>