---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h1>{{page.LGuarantors}}</h1>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="guarantor" %}
		</ul>

		<h1>{{page.LRoles}}</h1>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="delegate" %}
		</ul>
		<h1>{{page.LCouncil}}</h1>
		<h3>{{page.LVotingMem}}</h3>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="headadmin" %}
		</ul>
		<h3>{{page.LNotRenewed}}</h3>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="headadmin" not-renewed="y" %}
		</ul>

		<h3>{{page.LListeners}}</h3>
		<ul class="about_us_ul">
			{% include staff_members.html lang=page.Lang class="listener" %}
		</ul>
		<br>
		<hr>
		<table class="fullWidth accentText">
			<tr class="about_us_tr">
				<td class="about_us_td">
					<a class="about_us_tr" href="/{{page.Lang}}/learnmore/contacts/"><i class="fa fa-address-book"></i>&nbsp;{{page.Lcontacts}}</a>
				</td>
				<td class="about_us_td">
					<a class="about_us_tr" href="./history/"><i class="fas fa-scroll"></i> {{page.LHistory}}</a>
				</td>
			</tr>
		</table>
	</div>
</div>