---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h1>{{page.LGuarantors}}</h1>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="guarantor" %}
		</ul>

		<h1>{{page.LRoles}}</h1>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="delegate" %}
		</ul>
		<h1>{{page.LCouncil}}</h1>
		<h3>{{page.LVotingMem}}</h3>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="headadmin" %}
		</ul>

		<h3>{{page.LListeners}}</h3>
		<ul style="text-align:left;list-style: none;padding-left: 20px;">
			{% include staff_members.html lang=page.Lang class="listener" %}
		</ul>
		<br>
		<hr>
		<table style="width:100%;">
			<tr style="text-align: center;width: 100%;">
				<td style="text-align: center;width: 50%;">
					<a style="text-align: center;width: 100%;" href="./../../learnmore/contacts/">✍ {{page.Lcontacts}}</a>
				</td>
				<td style="text-align: center;width: 50%;">
					<a style="text-align: center;width: 100%;" href="./history/">⭐ {{page.LHistory}}</a>
				</td>
			</tr>
		</table>
	</div>
</div>