---
layout: default
show_backToHome: true
---
<br>
<br>
<br>
<br>
<div class="wrapper">
  <div class="card white section sign">
{% for associazione in site.data.assoc.assoc %}
  {% for language in associazione.items %}
    {% if language.lang == page.Lang %}
        <div class="topAssocCard">
            <img class="imageassoc" src="{{ associazione.image }}">
            <div class="assocName">
              <div class="assocText"><p>{{ associazione.Title }}</p>
              </div>
            </div>
          <p class="assocDesc">
            {{ language.desc }}
          </p>
          {% include buttonmatrix.html language=language.lang title=associazione.Title %}
        </div>
        <div class="assocDivider"></div>
    {% endif %}
  {% endfor %}
{% endfor %}
  {% if page.Lang == "it" %}
    <p class="assocDesc assocFooter"> Sei in contattato con un'associazione, iscritta all'albo, non in questo elenco?
Vorresti che apparisse in questa lista? Scrivici! </p>
  {% endif %}
  {% if page.Lang == "en" %}
    <p class="assocDesc assocFooter"> ENG Sei in contattato con un'associazione, iscritta all'albo, non in questo elenco?
Vorresti che apparisse in questa lista? Scrivici! </p>
  {% endif %}
  </div>
</div>
