---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h2>{{page.Ltitle}}</h2>
		<div style="padding-top: 5px"></div>
		<p>
			Vuoi diventare Socio? <br />
			<ol>
				<li>
					Consulta lo statuto dell'associazione <a href="https://raw.githubusercontent.com/PoliNetworkOrg/Statuto/document/Document.pdf">a questo link</a>
				</li>
				<li>
					Manda una mail dal tuo indirizzo PoliMi a <a href="mailto:info@polinetwork.org">info@polinetwork.org</a> con oggetto "Richiesta ammissione sotto la qualifica di socio"
				</li>
				<li>
					Attendi nostra risposta, come da statuto, articolo 9.
				</li>
			</ol>
			
		</p>
		<br />
		<br />
		<p style="font-size: small;">
			Ci teniamo a ricordare che diventare Socio è diverso da diventare admin (Volontario). Per chi fosse interessato a diventare admin deve scrivere a <a href="mailto:hr@polinetwork.org">hr@polinetwork.org</a> sempre da un indirizzo mail PoliMi valido
		</p>
	</div>
	<div>&nbsp;</div>
</div>

<style>
	.tdDonations {
		text-align: center;
		border: 1px solid rgba(129, 129, 129, 0.255);
		overflow: auto;
		padding: 5px;
		font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
	}

	.tableDonations {
		width: 100%;
		text-align: center;
		overflow: auto;
	}
</style>
