---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h2>{{page.Ltitle}}</h2>
		<div style="padding-top: 5px"></div>
		<p>
			Vuoi diventare Socio? <br />
			<ol>
				<li>
					Consulta lo statuto dell'associazione <a href="https://github.com/PoliNetworkOrg/Statuto/releases/">a questo link</a>.
				</li>
				<li>
					Consulta il regolamento interno dell'associazione <a href="https://polinetwork.org/files/RegolamentoInternoPrimoLivello.pdf">a questo link</a>.
				</li>
				<li>
					Consulta le privacy policies dell'associazione <a href="./../privacy/">a questo link</a>.
				</li>
				<li>
					Manda una mail a <a href="mailto:info@polinetwork.org">info@polinetwork.org</a> 
					
					<ol type="a">
						<li>
							Il mittente (il tuo indirizzo di posta usato per l'invio) sarebbe preferibile sia un indirizzo PoliMi valido.
						</li>
						<li>
						Oggetto "Richiesta ammissione sotto la qualifica di socio".
						</li>
						<li>
							Includi nel corpo della mail ogni eventuale informazione che tu ritenga necessaria farci avere, come per esempio il tuo username telegram.
						</li>
						<li>
							Se ricopri già ruoli in PoliNetwork (come ad esempio il ruolo di admin) aggiungilo nel corpo della mail.
						</li>
					</ol>
				</li>
				<li>
					Attendi nostra risposta, come da statuto, articolo titolato "Ammissione".
				</li>
			</ol>
			
		</p>
		<br />
		<hr />
		<br />
		<p style="font-size: small;">
			Ci teniamo a ricordare che diventare Socio è diverso da diventare admin (Volontario). <br>
			Per chi fosse interessato a diventare admin deve scrivere a <a href="mailto:hr@polinetwork.org">hr@polinetwork.org</a> sempre preferibilmente da un indirizzo mail PoliMi valido
		</p>
	</div>
	<div>&nbsp;</div>
</div>

<style>
	.tdDonations {
		text-align: center;
		border: 1px solid rgba(129, 129, 129, 0.255);
		overflow: auto;
		padding: 5px;
		font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
	}

	.tableDonations {
		width: 100%;
		text-align: center;
		overflow: auto;
	}
</style>
