---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h2>{{page.Ltitle}}</h2>

		<div>
			<div style="padding-top: 30px"></div>
			<h5>{{page.Ltitle2}}</h5>
			<div style="padding-top: 8px"></div>
			<ul>
				<li><a href="/files/2022/Bilancio_2022.pdf">{{page.Ltitle}} 2022</a></li>
			</ul>
		</div>
	</div>
	<div>&nbsp;</div>
</div>

<style>
	.tdDonations {
		text-align: center;
		border: 1px solid rgba(129, 129, 129, 0.255);
		overflow: auto;
		padding: 5px;
		font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
	}

	.tableDonations {
		width: 100%;
		text-align: center;
		overflow: auto;
	}
</style>
