---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
    <h2>{{page.Ltitle}}</h2>
    <h3>
      {{page.Lh3}}
      <a href="/{{page.Lang}}/learnmore/about_us/">{{page.Lclick}}</a>.
    </h3>
    <div style="padding-top: 15px"></div>
    <ul class="contactsList">
      <li>
        <i class="fas fa-envelope"></i> {{page.Lmail}}:
        <a href="mailto:info@polinetwork.org">info@polinetwork.org</a>
      </li>
    </ul>

    <div style="padding-top: 15px"></div>
    <hr />
    <table class="fullWidth accentText">
      <tr class="about_us_tr">
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/social/"
            ><i class="fa fa-bullhorn"></i>&nbsp;{{page.Lsocials}}</a
          >
        </td>
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/donations/"
            ><i class="fas fa-money-bill"></i>&nbsp;{{page.donationsT}}</a
          >
        </td>
      </tr>
    </table>

    <div style="padding-top: 7px"></div>

    <br />
  </div>
</div>
