---
layout: default
---

<div class="footerWrapper">
	<div style="height: 10rem;">
		&nbsp;
	</div>
	<div style="width: 100%; text-align: center; margin: 1rem;">
		<span>
			If you need to contact a specific admin you can find the complete list on <a href="./../../learnmore/abous_us/">this link</a>.
		</span>
		<br />
		<br />
		<span>Our official mail is <a href="mailto:polinetwork@outlook.com">polinetwork@outlook.com</a></span>
		<br />
		<br />
		<ul>
			<li>Facebook: <a href="https://facebook.com/PolitecnicoDiMilanoNetwork">PolitecnicoDiMilanoNetwork</a></li>
			<li>Instagram: <a href="https://instagram.com/polinetwork_">polinetwork_</a></li>
			<li>Telegram: <a href="https://t.me/polinetwork">polinetwork</a></li>
		</ul>
	</div>
</div>