---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
		<h3>
			If you need to contact a specific admin you can find the complete list on <a href="/{{page.Lang}}/learnmore/about_us/">this link</a>.
		</h3>
		<br />
		<br />
		<span>Our official mail is <a href="mailto:polinetwork@outlook.com">polinetwork@outlook.com</a></span>
		<br />
		<br />
		<ul>
			<li>Facebook: <a href="https://facebook.com/PolitecnicoDiMilanoNetwork">PolitecnicoDiMilanoNetwork</a></li>
			<li>Instagram: <a href="https://instagram.com/polinetwork_">polinetwork_</a></li>
			<li>Telegram: <a href="https://t.me/polinetwork">polinetwork</a></li>
			<li>Twitter: <a href="https://twitter.com/PolimiNetwork">PolimiNetwork</a></li>
			<li>Discord: <a href="https://discord.gg/N8DYkDTg">discord</a></li>
			<li>Reddit: <a href="https://www.reddit.com/r/polinetwork/">r/polinetwork</a></li>
		</ul>
	</div>
</div>
