<!DOCTYPE html>
<html>
<head>
    {% include meta.html %}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
          rel="stylesheet" />

    <link href="/res/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/res/css/style.css">
    <link rel="stylesheet" type="text/css" href="/res/css/stylenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <script src="/res/js/search/search3.js"></script> -->

    <script>
        var dark_theme = 0;
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.setAttribute('data-theme', 'dark');
            dark_theme = 1;
        } else {
            document.documentElement.setAttribute('data-theme', 'light');
        }
    </script>
    <script src="/res/js/shuffle.js"></script> <!-- Auto shuffle of child elements of the class named "shuffleInside" -->
    <script>
      shuffle("shuffleInside");
    </script>
</head>
{% include navbar.html %}

{{ content }}

<div class="footerWrapper">
    <div class="card white footerGrid">
        <div class="footerSection">
            <p>
                <a href="/{{page.Lang}}/learnmore/contacts/" class="polinetworkRedirect">Copyright &copy;<script>document.write(new Date().getFullYear())</script></a><a href="/" class="polinetworkRedirect"> PoliNetwork</a>
            </p>
        </div>
        <div class="footerSection">
            {% for item in site.data.languages.lang %}
            {% if item.name != page.Lang %}
            {% if item.name == "it" %}
                <a href="{{ site.url }}/{{ item.name }}{{ page.url | replace: "/it", "" | replace: "/en", ""}}"> Passa a <span class="textSecondaryColor"> {{ item.name | upcase}} </span></a>
            {% else %}
                <a href="{{ site.url }}/{{ item.name }}{{ page.url | replace: "/it", "" | replace: "/en", ""}}"> Switch to <span class="textSecondaryColor"> {{ item.name | upcase}} </span></a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="disclamer">
	<table class="pcenter fullWidth">
		<tr class="pcenter">
			<td class="pcenter">
				<table class="pcenter center">
					<tr class="pcenter">
						<td class="pcenter">
							<a class="linktextformat" href="/{{page.Lang}}/learnmore/contacts/">
								{% for item in site.data.languages.lang %}
								{% if item.name != page.Lang %}
								{% if item.name == "it" %}
								<p>Contact us</p>
								{% else %}
								<p>Contattaci</p>
								{% endif %}
								{% endif %}
								{% endfor %}
							</a>
						</td>
						<td>&nbsp;–&nbsp;</td>
						<td class="pcenter">
							<a class="linktextformat" href="/{{page.Lang}}/learnmore/about_us/">
								{% for item in site.data.languages.lang %}
								{% if item.name != page.Lang %}
								{% if item.name == "it" %}
								<p>About us</p>
								{% else %}
								<p>Su di noi</p>
								{% endif %}
								{% endif %}
								{% endfor %}
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr class="pcenter fullWidth">
			<td class="pcenter fullWidth">
				{% for item in site.data.languages.lang %}
				{% if item.name != page.Lang %}
				{% if item.name == "it" %}
				<p>This website is not affiliated to Politecnico di Milano</p>
				{% else %}
				<p>Questo sito non è affliliato al Politecnico di Milano</p>
				{% endif %}
				{% endif %}
				{% endfor %}
			</td>
		</tr>
	</table>
	<div style="height: 10px;"></div>
</div>

<!--
<script>
    if (dark_theme == 1) {
        document.getElementById("darkmodeinputID").checked = true;
        document.getElementById("darkmodeinputID2").checked = true;
    }
</script>

{% if page.Lang == "en" %}
<script>
    if (dark_theme == 1) {
        document.getElementById("darkmode").innerHTML = "Disable&nbspDark&nbspMode"
        document.getElementById("darkmode2").innerHTML = "Disable&nbspDark&nbspMode"
    }
</script>
<script src="/res/js/dark_mode/javas_en.js"></script>

{% else %}

<script>
    if (dark_theme == 1) {
        document.getElementById("darkmode").innerHTML = "Disattiva&nbspTema&nbspScuro"
        document.getElementById("darkmode2").innerHTML = "Disattiva&nbspTema&nbspScuro"
    }
</script>
<script src="/res/js/dark_mode/javas_it.js"></script>
{% endif %}
-->
</html>
