---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
    <h2>{{page.Ltitle}}</h2>
    <div style="padding-top: 5px"></div>
    <table class="tableDonations">
      <tr>
        <td class="tdDonations">
          <i class="fa-solid fa-hand-holding-dollar"></i> GoFundMe
        </td>
        <td class="tdDonations">
          <a href="https://www.gofundme.com/f/polinetwork-diventa-associazione"
            >https://www.gofundme.com/f/polinetwork-diventa-associazione</a
          >
        </td>
      </tr>
    </table>
    <div style="padding-top: 15px"></div>
    <hr />
    <table class="fullWidth accentText">
      <tr class="about_us_tr">
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/contacts/"
            ><i class="fa fa-pen"></i>&nbsp;{{page.Contacts}}</a
          >
        </td>
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/social/"
            ><i class="fas fa-bullhorn"></i>&nbsp;Social Network</a
          >
        </td>
      </tr>
    </table>

    <div style="padding-top: 7px"></div>
    <h3>{{page.Contacts}}</h3>
    <span
      >{{page.Contacts2}} <a href="./../contacts/">{{page.Contacts3}}</a></span
    >
  </div>
</div>

<style>
  .tdDonations {
    text-align: center;
    border: 1px solid rgba(129, 129, 129, 0.255);
    overflow: auto;
    padding: 5px;
    font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
  }

  .tableDonations {
    width: 100%;
    text-align: center;
    overflow: auto;
  }
</style>
