---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
    <h2>Donazioni</h2>
    <table>
      <tr>
        <td class="tdDonations"><i class="fab fa-ethereum"></i> Ethereum</td>
        <td class="tdDonations">0xcA2c62159825c37BEB20B4761c0700aDd97620DF</td>
      </tr>
    </table>

    <h3>Contatti</h3>
    <span>I contatti si possono trovare <a href="./../contacts/">qui</a></span>
  </div>
</div>

<style>
  .tdDonations {
    text-align: center;
    border: 1px solid rgba(129, 129, 129, 0.255);
  }
</style>
