---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
    <div style="padding-top: 5px"></div>
    <h2>{{page.Ltitle}}</h2>
    <div style="padding-top: 15px"></div>
    <div>
      <span> {{page.desc0}}: </span>
      <br />
      <ul>
        <li>Inviarci una <a href="../contacts">mail</a></li>
        <li>
          {{page.desc1}}
          <a
            href="https://info730.agenziaentrate.it/portale/web/guest/scelte-8-5-e-2-per-mille"
            >{{page.desc2}}.</a
          >
          <br />
          <span>{{page.desc3}}.</span>
        </li>
      </ul>
    </div>

    <div style="padding-top: 15px"></div>
    <h3>{{page.exTitle}}</h3>
    <div style="padding-top: 15px"></div>
    <table class="tableDonations">
      <tr>
        <td class="tdDonations">
          <i class="fa-solid fa-hand-holding-dollar"></i> GoFundMe
        </td>
        <td class="tdDonations">
          <a href="https://www.gofundme.com/f/polinetwork-diventa-associazione"
            >https://www.gofundme.com/f/polinetwork-diventa-associazione</a
          >
        </td>
      </tr>
    </table>
    <div style="padding-top: 40px"></div>
    <hr />
    <table class="fullWidth accentText">
      <tr class="about_us_tr">
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/contacts/"
            ><i class="fa fa-pen"></i>&nbsp;{{page.Contacts}}</a
          >
        </td>
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/social/"
            ><i class="fas fa-bullhorn"></i>&nbsp;Social Network</a
          >
        </td>
      </tr>
    </table>
    <div style="padding-top: 10px"></div>
    <table class="fullWidth accentText">
      <tr class="about_us_tr">
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/trivia/"
            ><i class="fas fa-magic"></i>&nbsp;Trivia</a
          >
        </td>
      </tr>
    </table>
    <div style="padding-top: 10px"></div>
  </div>
</div>

<style>
  .tdDonations {
    text-align: center;
    border: 1px solid rgba(129, 129, 129, 0.255);
    overflow: auto;
    padding: 5px;
    font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
  }

  .tableDonations {
    width: 100%;
    text-align: center;
    overflow: auto;
  }

  li{
  margin: 10px 0;
}
</style>
