---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h2>{{page.Ltitle}}</h2>
		<div style="padding-top: 5px"></div>
		<span>{{page.F1}}&#58;</span>
		<ul>
			<li>
				<a href="https://www.ternasinistrorsa.it/faq-polimi/"
					>La Terna Sinistrorsa</a
				>
			</li>
			<li>
				<a href="https://www.poli-listaperta.it/category/faq/">Lista Aperta</a>
			</li>
			<li>
				<a href="https://studentiindipendenti.it/">Studenti Indipendenti</a>
			</li>
			<li><a href="https://www.svoltastudenti.it/">Svoltastudenti</a></li>
		</ul>
		<span>{{page.F2}}</span>
		<div>&nbsp;</div>
		<span>{{page.F3}}: <a href="https://faq.polinetwork.org">link</a></span>
		<div>&nbsp;</div>
		<h3>{{page.Contacts}}</h3>
		<span
			>{{page.Contacts2}}
			<a href="./../learnmore/contacts/">{{page.Contacts3}}</a></span
		>
	</div>
</div>
