---
layout: default
---

<body>
  <div>
    <!--        <div class="ptitlesub">-->
    <!--            -->
    <!--        </div>-->
    <div id="topTitle">
      <div class="titlecontainer">
        <p class="Titolone titlecentered"> {{ page.LTitolone }}</p>
      </div>
      <div class="devsite-header-billboard-search">

        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" id="searchBarID"
            aria-describedby="search-addon" class="searchBox" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
          <div class="searchResults" id="searchContainerID">
            <div class="searchBox" id="searchResultsID">

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="wrapper">
    <div class="card white section sign">
      <div class="topCard">
        <div class="centerGrid logo"><img class="image-container main" src="/res/images/polinetwork.png"></div>
        <div class="centerGrid firmaNetwork">
          <h1><span class="highlight">P</span>oli<span class="highlight">N</span>etwork</h1>
          <p>{{ page.Lmotto }}</p>
        </div>
      </div>
    </div>
    <div class="card white section">
      <div class="cardTitleAndDescription">
        <h2>{{ page.LgroupsTitle }}</h2>
        <p>{{ page.LgroupsText }}</p>
      </div>
      <div class="horizontalSocial">
        <div class="card white clickable"
          onclick="location.href='https://www.facebook.com/groups/matricole20172018polimi/'">
          <div class="image-container big"><img src="../res/images/facebook.svg"></div>
          <p class="pcenter">{{ page.LFacebookTitle }}</p>
        </div>
        <div class="card white clickable" onclick="location.href='https://t.me/PoliGruppo'">
          <div class="image-container big"><img src="../res/images/telegram.png"></div>
          <p class="pcenter">{{ page.LTelegramTitle }}</p>
        </div>
      </div>
      <div class="columnTwo">
        <div class="card textAccentColor green clickable courses" onclick="location.href='./groups/'">
          <p class="pcenter">{{ page.LAllCoursesTitle }}</p>
        </div>
        <div class="card textAccentColor green clickable groups" onclick="location.href='./extra/'">
          <p class="pcenter">{{ page.LExtraTitle }}</p>
        </div>
        <div class="card textAccentColor orange clickable rules" onclick="location.href='./rules/'">
          <p class="pcenter">{{ page.LRules }}</p>
        </div>
        <div class="card textAccentColor orange clickable rules"
          onclick="location.href='./materials/'">
          <p class="pcenter">{{ page.LMaterials }}</p>
        </div>
      </div>
      <div class="spaced">
        <br />
      </div>
    </div>
    <div class="horizontal section">
      <div class="card white horizontalcardswrapper guides">
        <div class="titleanddeskCard">
          <div class="cardTitleAndDescription">
            <h2>{{ page.LGuidesTitle }}</h2>
            <p>{{ page.LGuidesText }}</p>
          </div>
        </div>
        <div class="expandable">
          <div class="card green clickable horizontalcardsbutton" onclick="location.href='./guides/'">
            <p class="textAccentColor cardLink">{{ page.LGuidesButton }}</p>
          </div>
        </div>
      </div>
      <div class="card white horizontalcardswrapper projects">
        <div class="titleanddeskCard">
          <div class="cardTitleAndDescription">
            <h2>{{ page.LProjectsTitle }}</h2>
            <p>{{ page.LProjectsText }}</p>
          </div>
        </div>
        <div class="expandable">
          <div class="card green clickable horizontalcardsbutton" onclick="location.href='./projects/'">
            <p class="textAccentColor cardLink">{{ page.LProjectsButton }}</p>
          </div>
        </div>
      </div>
      <div class="card white horizontalcardswrapper info">
        <div class="titleanddeskCard">
          <div class="cardTitleAndDescription">
            <h2>{{ page.LInfoTitle }}</h2>
            <p>{{ page.LInfoText }}</p>
          </div>
        </div>
        <div class="expandable">
          <div class="card green clickable horizontalcardsbutton" onclick="location.href='./learnmore/'">
            <p class="textAccentColor cardLink">{{ page.LInfoButton }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/res/js/search/search.js"></script>
  <script src="/res/js/search/search_utils.js"></script>
  <!-- <script>
        function generaHTMLrisultato(item) {
          item = applyMapping(item);
          return genHtml(item);
        }

        function  generaHTMLnoresults(){
          var doc = document.getElementById("searchResultsID");
          doc.innerHTML = '<div class=\"result\"><div class="resultContainer"><a class="noResults" href="\https://t.me/PoliGruppo">There are no suggestions for your query. <i>Try asking here</i></a></div></div>';
        }

        function activateResultsDiv(){
          var bar = document.getElementById("searchBarID");
          var container = document.getElementById("searchContainerID");
          if (bar.value.length > 0){
            if (!container.classList.contains("searchResultsActive")){
              container.classList.add("searchResultsActive");
            }
          } else {
            if (container.classList.contains("searchResultsActive")){
              container.classList.remove("searchResultsActive");
            }
          }
        }

        document.addEventListener('DOMContentLoaded', _ => {            // Esegui quando il DOM e' pronto
            els = document.querySelectorAll('input[type="search"]');    // Seleziona tutti gli input di tipo search
            Array.from(els).forEach(el => {                             // Per ogni input di tipo search...
                el.addEventListener('keyup', _ => {                     // Aggiungi un listener che scatta ogni volta che schiacci un tasto sulla tastiera
                    activateResultsDiv();
                    doSearch({                                          // Esegui le search con questa funzione
                        limit: 50,                                      // Limite di risultati per la ricerca
                        join: "AND",                                    // Tipo di join
                        query: {                                        // Ogni proprieta' viene mappata nelle proprieta' degli oggetti del json
                            class: el.value
                        }},
                    data => {
                      var doc = document.getElementById("searchResultsID");
                      console.log("res", data);
                      doc.innerHTML = "";
                      data.forEach((item, i) => {
                        doc.innerHTML += generaHTMLrisultato(item);
                      });
                      if(doc.innerHTML.length == 0){
                        generaHTMLnoresults();
                      }

                    }
                  );                  // Callback in cui passare i risultati di ricerca

                });
            });
        });
    </script> -->
</body>
