---
layout: default
---
<body>
    <div style="margin-top: 50px;"></div>
    <div class="wrapper">
        <div class="columnTwo">
            <div class="card project white horizontalcardswrapper prjectClickable">
              <a href="./about_us/">
                <div class="project-content">
                    <h2>{{ page.card1title }}</h2>
                    <p> {{ page.card1description }}</p>
                </div>
                </a>
            </div>
            <div class="card project white horizontalcardswrapper prjectClickable">
              <a href="./principles/">
                <div class="project-content">
                  <h2>{{ page.card2title }}</h2>
                  <p> {{ page.card2description }}</p>
                </div>
              </a>
            </div>
            <div class="card project white horizontalcardswrapper prjectClickable">
              <a href="./structure/">
                <div class="project-content">
                  <h2>{{ page.card3title }}</h2>
                  <p> {{ page.card3description }}</p>
                </div>
              </a>
            </div>
            <div class="card project white horizontalcardswrapper prjectClickable">
              <a href="../rules/">
                <div class="project-content">
                  <h2>{{ page.card4title }}</h2>
                  <p> {{ page.card4description }}</p>
                </div>
              </a>
            </div>
        </div>
      </div>
