---
layout: default
---
<body>
    <div style="margin-top: 50px;"></div>
    <div class="wrapper">
        <div class="columnTwo">
          <div class="card white section sign">
            <div class="materialtopCard">
              <div class="centerGrid materiallogo"><i class="fab fa-skyatlas materialsIcon materialsImage-container" aria-hidden="true"></i></div>
              <div class="centerGrid">
                <h1 class="materialsText"><span class="highlight">Carica</span></h1>
                <p>{{ page.Lmotto }}</p>
              </div>
            </div>
          </div>
          <div class="card white section sign">
            <div class="materialtopCard">
              <div class="centerGrid materiallogo materiallogopergamena"><i class="fas fa-scroll materialsIcon materialsImage-container" aria-hidden="true"></i></div>
              <div class="centerGrid">
                <h1 class="materialsText"><span class="highlight">Visualizza</span></h1>
                <p>{{ page.Lmotto }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
