---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h2>{{page.Ltitle}}</h2>
		<div style="padding-top: 10px"></div>
		<div>
			PoliNetwork è un'associazione studentesca che ha dimostrato grande passione e impegno nel rappresentare gli interessi degli studenti e promuovere il loro sviluppo professionale e personale presso il Politecnico di Milano dal 2016. Nel corso degli anni, l'associazione ha collaborato con numerose organizzazioni esterne e associazioni studentesche, organizzando attività ed eventi per coinvolgere gli studenti e migliorare la loro esperienza universitaria.
			<div style="padding-top: 10px"></div>
			Nonostante il grande impegno e le iniziative promosse, PoliNetwork non ha ancora ottenuto il riconoscimento ufficiale del Politecnico di Milano come associazione registrata <a
			href="https://www.polimi.it/studenti-iscritti/rappresentanti-e-associazioni/"
			>nell'albo delle associazioni studentesche</a
		>. Questo ha spinto l'associazione a costituirsi come associazione presso l'Agenzia delle Entrate nel luglio del 2022, e sta lavorando per raggiungere l'obiettivo di 50 soci, necessario per poter essere registrata nell'albo delle associazioni studentesche del Politecnico di Milano.
			<div style="padding-top: 10px"></div>
			Tuttavia, il <a href="https://www.normativa.polimi.it/strumenti/dettaglio-regolamento/regolamento-per-la-costituzione-dellalbo-delle-associazioni-studentesche-universitarie-e-per-il-finanziamento-delle-iniziative-culturali-e-sociali-degli-studenti-del-politecnico-di-milano">regolamento attuale</a> dell'albo delle associazioni studentesche del Politecnico di Milano non prevede la nuova forma associativa nata nel 2017 (<a href="https://it.wikipedia.org/wiki/Ente_del_terzo_settore">ETS</a>), a cui PoliNetwork fa riferimento. Questo ha creato delle difficoltà per l'associazione, che nonostante tutti gli sforzi, non può ancora entrare nell'albo attuale dell'ateneo.
			<div style="padding-top: 10px"></div>
			Nonostante queste difficoltà, l'obiettivo di PoliNetwork è di continuare a rappresentare gli interessi degli studenti e avere un riconoscimento ufficiale da parte dell'ateneo. L'associazione ritiene che questo possa essere un passo fondamentale per il suo sviluppo e la sua crescita. Inoltre, PoliNetwork è in costante contatto con la rappresentanza studentesca, per trovare una soluzione che ci permetta di essere inseriti nell'albo delle associazioni studentesche del Politecnico di Milano.
			<div style="padding-top: 10px"></div>
			Per raggiungere l'obiettivo di essere riconosciuta dall'ateneo, PoliNetwork sta cercando nuovi membri e soci che possano contribuire alla sua causa. L'associazione ritiene che la partecipazione attiva dei suoi membri e soci sia fondamentale per la crescita e lo sviluppo dell'associazione.
			<div style="padding-top: 10px"></div>
			Se sei interessato a diventare socio di PoliNetwork e a contribuire al suo percorso di crescita, ti invitiamo a <a href="./../associate">cliccare qui</a>, dove potrai trovare tutte le informazioni necessarie per diventare parte di questa grande famiglia.
			<div style="padding-top: 10px"></div>
			Per tutti questi anni abbiamo sempre, giustamente, allegato in fondo alle nostre pagine la dicitura "Questo sito non è affiliato al Politecnico di Milano", ora vi alleghiamo questa (speriamo) esaustiva spiegazione, con la promessa che la dicitura cambierà presto.
			<div style="padding-top: 10px"></div>
			Restate sintonizzati 📌
		</div>
	</div>
	<div>&nbsp;</div>
</div>

<style>
	.tdDonations {
		text-align: center;
		border: 1px solid rgba(129, 129, 129, 0.255);
		overflow: auto;
		padding: 5px;
		font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
	}

	.tableDonations {
		width: 100%;
		text-align: center;
		overflow: auto;
	}
</style>
