---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h2>{{page.Ltitle}}</h2>
		<div style="padding-top: 5px"></div>
		<p>
			PoliNetwork, allo stato attuale, non è un'associazione per lo stato
			italiano. <br />
			Questo ci impedisce anche di essere un'associazione studentesca registrata
			<a
				href="https://www.polimi.it/studenti-iscritti/rappresentanti-e-associazioni/"
				>nell'albo delle associazioni</a
			>
			studentesche del Politecnico di Milano. <br />
			La nostra realtà, seppur non avendo mai avuto un riconoscimento legale e
			ufficiale, si è comunque negli anni distinta e ha collaborato con l'ateneo
			stesso, con la rappresentanza degli studenti, con le associazioni
			studentesche registrate all'albo e con enti esterni. Il nostro non
			riconoscimento non ci ha impedito quindi di essere ciò che siamo. <br />
			E' nata, tuttavia, l'esigenza e la voglia di voler crescere, di
			rappresentare qualcosa di più di quello che siamo ora. Per questo motivo
			PoliNetwork si sta in questo periodo costituendo associazione presso
			l'Agenzia delle Entrate, per poi venir registrata nell'albo delle
			associazioni studentesche del Politecnico di Milano. <br />
			Per tutti questi anni abbiamo sempre, giustamente, allegato in fondo alle
			nostre pagine la dicitura "Questo sito non è affiliato al Politecnico di
			Milano", ora alleghiamo questa (speriamo) esaustiva spiegazione, con la
			promessa che la dicitura cambierà presto. <br />
			Restate sintonizzati 📌
		</p>
	</div>
	<div>&nbsp;</div>
</div>

<style>
	.tdDonations {
		text-align: center;
		border: 1px solid rgba(129, 129, 129, 0.255);
		overflow: auto;
		padding: 5px;
		font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
	}

	.tableDonations {
		width: 100%;
		text-align: center;
		overflow: auto;
	}
</style>
