---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h2>{{page.Ltitle}}</h2>
		<div style="padding-top: 10px"></div>
		<div>
			PoliNetwork, allo stato attuale, è un'associazione per lo stato
			italiano. 
			
			<div style="padding-top: 10px"></div>
			Il prossimo passo, quindi, è raggiungere i 50 soci per essere un'associazione studentesca registrata
			<a
				href="https://www.polimi.it/studenti-iscritti/rappresentanti-e-associazioni/"
				>nell'albo delle associazioni</a
			>
			studentesche del Politecnico di Milano. 
			<div style="padding-top: 10px"></div>
			La nostra realtà, seppur non avendo finora mai avuto un riconoscimento legale e
			ufficiale, si è comunque negli anni distinta e ha collaborato con l'ateneo
			stesso, con la rappresentanza degli studenti, con le associazioni studentesche registrate all'albo e con enti esterni. Il nostro non riconoscimento non ci ha impedito quindi di essere ciò che siamo.
			<div style="padding-top: 10px"></div>
			E' nata, tuttavia, l'esigenza e la voglia di voler crescere, di	rappresentare qualcosa di più di quello che siamo ora. Per questo motivo PoliNetwork si è di recente costituita associazione presso	l'Agenzia delle Entrate, con l'obiettivo, in seguito, di venir registrata nell'albo delle associazioni studentesche del Politecnico di Milano. 
			<div style="padding-top: 10px"></div>
			Quale è il prossimo step quindi? Raggiungere 50 soci. Sei interessato a diventare socio? <a href="./../associate">Clicca qui per tutte le informazioni!</a>
			<div style="padding-top: 10px"></div>
			Per tutti questi anni abbiamo sempre, giustamente, allegato in fondo alle nostre pagine la dicitura "Questo sito non è affiliato al Politecnico di Milano", ora alleghiamo questa (speriamo) esaustiva spiegazione, con la promessa che la dicitura cambierà presto. 	
			<div style="padding-top: 10px"></div>
			Restate sintonizzati 📌
		</div>
	</div>
	<div>&nbsp;</div>
</div>

<style>
	.tdDonations {
		text-align: center;
		border: 1px solid rgba(129, 129, 129, 0.255);
		overflow: auto;
		padding: 5px;
		font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
	}

	.tableDonations {
		width: 100%;
		text-align: center;
		overflow: auto;
	}
</style>
