---
layout: default
---
<div id="page404"></div>
<script>
  var page404 = '<div class="wrapper projectsPadding">' +
      '<div class="card white section sign">' +
          '<div class="topCard"> ' +
              '<div class="centerGrid logo"><img class="image-container main" src="/res/images/polinetwork.png"></div>' +
              '<div class="centerGrid firmaNetwork">' +
                  '<h1><span class="highlight">P</span>oli<span class="highlight">N</span>etwork</h1>' +
                  '<p>{{page.LDesc1}}</p>' +
              '</div>' +
          '</div>' +
      '</div>' +
      '<div class="card white section">' +
          '<div class="cardTitleAndDescription">' +
              '<h2>{{page.LDesc2}}</h2>' +
              '<p>{{page.LStartPage}}</p>' +
          '</div>' +
      '</div>' +
  '</div>';
  var oldPath = document.referrer;
  if(oldPath == undefined){
    oldPath = "";
  }
  var splittedPath = oldPath.split("/");
  var intrestingPath = "";
  for (let i = 3; i < splittedPath.length; i++) {
      intrestingPath += splittedPath[i] + "/";
  }
  if(intrestingPath.length > 0 && intrestingPath.slice(-1) == "/"){
    intrestingPath = intrestingPath.slice(0,-1);
  }

  intrestingPath = intrestingPath.trim();
  var userLang = navigator.language || navigator.userLanguage;
  if (userLang == "it-IT")
  {
    if(!(intrestingPath == "" || splittedPath[3] == "it" || splittedPath[3] == "en")){
        window.location.replace("/it/" + intrestingPath);
    } else {
      document.getElementById("page404").innerHTML = page404;
    }
  }
  else
  {
    if(!(intrestingPath == "" || splittedPath[3] == "it" || splittedPath[3] == "en")){
        window.location.replace("/en/" + intrestingPath);
    } else {
      document.getElementById("page404").innerHTML = page404;
    }
  }
</script>
