---
layout: default
---

<div class="wrapper">
	<div class="card white aboutCard struttura noCenter">
		<h2>{{page.Ltitle}}</h2>

		<div>
			<div style="padding-top: 30px"></div>
			<h5>Raccolta di informative privacy per PoliNetwork</h5>
			<ul>
				<li><a href="https://github.com/PoliNetworkOrg/PrivacyPolicies/releases/">Associati e candidati Soci</a></li>
			</ul>

			<div style="padding-top: 25px"></div>
			<div>
				Le informative sono pubbliche e la modifica di ciascuna darà seguito a
				<ul>
					<li> Aggiornamento del documento in questo in elenco</li>
					<li> Notifica degli interessati</li>
				</ul>
			</div>
			
			<div style="padding-top: 10px"></div>
			<hr />
			<div>
				Sei interessato a diventare socio? Associati, segui le istruzioni <a href="./../associate/">qui</a>
			</div>
			<div style="padding-top: 10px"></div>
		</div>
	</div>
	<div>&nbsp;</div>
</div>

<style>
	.tdDonations {
		text-align: center;
		border: 1px solid rgba(129, 129, 129, 0.255);
		overflow: auto;
		padding: 5px;
		font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
	}

	.tableDonations {
		width: 100%;
		text-align: center;
		overflow: auto;
	}
</style>
