---
layout: default
---

<div class="wrapper projectsPadding">
    <div class="card white section">
        <div class="topCard topCardProjects">
            <div class="centerGrid logo"><img class="image-container main" src="/img/downloader.png"></div>
            <div class="centerGrid firmaNetwork">
                <h1><span class="highlight">PoliBeepSync</h1>
                <p>Sincronizzatore automatico di cartelle PoliMi BeeP per PC.</p>
            </div>
        </div>
    </div>
    <div class="horizontal section">
        <div class="card white horizontalcardswrapper guides">
          <div class="titleanddeskCard">
            <div class="cardTitleAndDescription">
              <h2>Windows</h2>
              <p>Scarica il file .exe</p>
            </div>
          </div>
            <div class="expandable">
              <div class="card green clickable horizontalcardsbutton"><a href="./guides/" class="textAccentColor cardLink">Guides</a></div>
          </div>
        </div>
        <div class="card white horizontalcardswrapper projects">
          <div class="titleanddeskCard">
              <div class="cardTitleAndDescription">
                <h2>{{ page.LProjectsTitle }}</h2>
                <p>{{ page.LProjectsText }}</p>
              </div>
          </div>
            <div class="expandable">
              <div class="card green clickable horizontalcardsbutton"><a href="./projects/" class="textAccentColor cardLink">Projects</a></div>
            </div>
        </div>
        <div class="card white horizontalcardswrapper info">
          <div class="titleanddeskCard">
            <div class="cardTitleAndDescription">
              <h2>{{ page.LInfoTitle }}</h2>
              <p>{{ page.LInfoText }}</p>
            </div>
          </div>
            <div class="expandable">
              <div class="card green clickable horizontalcardsbutton"><a href="./learnmore/" class="textAccentColor cardLink">Learn more</a></div>
            </div>
        </div>
    </div>
</div>
