---
layout: default
show_backToHome: true
---
<div class="wrapper projectsPadding">
    <div class="card white section">
        <div class="topCard topCardProjects">
            <div class="centerGrid logo"><img class="image-container main" src="{{page.Img}}"></div>
            <div class="centerGrid firmaNetwork">
                <h1><span class="highlight"> {{ page.Title }}</h1>
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
    {% for project in site.data.projectsInfo.projects.projects %}
      {% if project.Title == page.Title %}
        <div class="horizontal section">
          {% for item in project.items %}
            {% if item.lang == page.Lang %}
              <div class="card white horizontalcardswrapper guides">
                <div class="titleanddeskCard">
                  <div class="cardTitleAndDescription">
                    <h2> {{ item.title }}
                      {% for img in item.img %}
                        <img style="width: 40px !important;" src="{{ img }}"></img>
                      {% endfor %}
                    </h2>
                    <p> {{ item.desc }} </p>
                  </div>
                </div>
                  {% if item.isLink != false %}
                  <div class="expandable">
                    <div class="card green clickable horizontalcardsbutton"><a href="{{ item.link }}" class="textAccentColor cardLink"> {{ item.title }} </a></div>
                  </div>
                  {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
</div>
