---
layout: default
---

<body>
    <div class="wrapper">
        <div class="projectsWrapper projectsPadding">
{% for project in site.projectsInfoIT %}
  {% if project.Lang == page.Lang %}
    {% include projectCard.html %}
  {% endif %}
{% endfor %}
{% for project in site.projectsInfoEN %}
  {% if project.Lang == page.Lang %}
    {% include projectCard.html %}
  {% endif %}
{% endfor %}
<hr class="projectHR">
{% for project in site.projectsInfoIT %}
  {% if project.Lang == page.Lang %}
    {% include projectCard.html deprecated="y" %}
  {% endif %}
{% endfor %}
{% for project in site.projectsInfoEN %}
  {% if project.Lang == page.Lang %}
    {% include projectCard.html deprecated="y" %}
  {% endif %}
{% endfor %}
</div>
