---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
    <h2>{{page.Ltitle}}</h2>

    <div style="padding-top: 10px"></div>
    <ul class="contactsList">
      <li>
        <i class="fab fa-facebook"></i> Facebook:
        <a href="https://facebook.com/PolitecnicoDiMilanoNetwork"
          >PolitecnicoDiMilanoNetwork</a
        >
      </li>
      <li>
        <i class="fab fa-instagram"></i> Instagram:
        <a href="https://instagram.com/polinetwork_">polinetwork_</a>
      </li>
      <li>
        <i class="fab fa-telegram"></i> Telegram:
        <a href="https://t.me/polinetwork">polinetwork</a>
      </li>
      <li>
        <i class="fab fa-twitter"></i> Twitter:
        <a href="https://twitter.com/PolimiNetwork">PolimiNetwork</a>
      </li>
      <li>
        <i class="fab fa-reddit"></i> Reddit:
        <a href="https://www.reddit.com/r/polinetwork/">r/polinetwork</a>
      </li>
      <li>
        <i class="fab fa-linkedin"></i> Linkedin:
        <a href="https://it.linkedin.com/company/polinetwork">polinetwork</a>
      </li>
      <li>
        <i class="fab fa-youtube"></i> Youtube:
        <a href="https://www.youtube.com/channel/UCabLSgP6wvSFv-HH3N25w3w"
          >PoliNetwork</a
        >
      </li>
      <li>
        <i class="fab fa-discord"></i> Discord:
        <a href="https://discord.gg/Fp7ZHcC">PoliNetwork</a>
      </li>
      <li>
        <i class="fab fa-twitch"></i> Twitch:
        <a href="https://www.twitch.tv/polinetwork">polinetwork</a>
      </li>
      <li>
        <i class="fab fa-github"></i> GitHub:
        <a href="https://www.github.com/polinetworkorg/">PoliNetworkOrg</a>
      </li>
      <li>
        <i class="fab fa-gitlab"></i> GitLab:
        <a href="https://www.gitlab.com/polinetwork">polinetwork</a>
      </li>
      <li>
        <i class="fab fa-microsoft"></i> Teams:
        <a href="https://teams.microsoft.com/join/uw4x3z9wq6er"
          >PoliNetwork's Tenant</a
        >
      </li>
      <li>
        <i class="fab fa-tiktok"></i> TikTok:
        <a href="https://vm.tiktok.com/ZM8TC84Qu/">PoliNetwork</a>
      </li>
      <li>
        <i class="fab fa-mastodon"></i> Mastodon:
        <a href="https://mastodon.uno/web/@PoliNetwork">PoliNetwork</a>
      </li>
    </ul>
    <div style="padding-top: 15px"></div>
    <hr />
    <table class="fullWidth accentText">
      <tr class="about_us_tr">
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/contacts/"
            ><i class="fa fa-pen"></i>&nbsp;{{page.LContatti}}</a
          >
        </td>
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/donations/"
            ><i class="fas fa-money-bill"></i>&nbsp;{{page.LDonazioni}}</a
          >
        </td>
      </tr>
    </table>

    <div style="padding-top: 7px"></div>
  </div>
</div>
