---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
    <h2>{{page.Ltitle}}</h2>

    <div>
      <div style="padding-top: 30px"></div>
      <h5>{{page.Ltitle2}}</h5>
      <div style="padding-top: 15px"></div>
      <div style="padding-left: 0.5rem">
        <div class="cell">
          <a href="https://www.studiocappapometto.it/">
            <table>
              <tr>
                <td class="td-padding">📒</td>
                <td class="td-padding">
                  <div>
                    <p>Studio Cappa-Pometto</p>

                    <small
                      >consulenza fiscale, contabile, societaria e del
                      lavoro</small
                    >
                  </div>
                </td>
              </tr>
            </table>
          </a>
        </div>
      </div>
      <div style="padding-top: 15px"></div>
    </div>
  </div>
  <div>&nbsp;</div>
</div>

<style>
  .tdDonations {
    text-align: center;
    border: 1px solid rgba(129, 129, 129, 0.255);
    overflow: auto;
    padding: 5px;
    font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
  }

  .tableDonations {
    width: 100%;
    text-align: center;
    overflow: auto;
  }

  p {
    margin: 0;
  }

  .cell {
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.075);
  }

  .td-padding {
    padding: 7px;
  }
</style>
