---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
    <div style="padding-top: 5px"></div>
    <h2>{{page.Ltitle}}</h2>
    <div style="padding-top: 15px"></div>
    <div><span> {{page.desc}} </span> 🔮</div>
    <div style="padding-top: 15px"></div>
    <div>
      <ul>
        <li>
          {{page.t1}}
          <a href="https://www.color-hex.com/color/1156ae">#1156ae</a>
          <span
            style="
              min-width: 1.6rem;
              display: inline-block;
              background-color: #1156ae;
            "
            >&nbsp;</span
          >
        </li>
        <li>
          {{page.t2}}
          <span class="counter-container">
            <span class="counter-value">0</span>
          </span>
        </li>
        <li>
          {{page.t3}}

        </li>
        <li>
          {{page.t4}}
        </li>
      </ul>
    </div>

    <div style="padding-top: 15px"></div>

    <hr />
    <table class="fullWidth accentText">
      <tr class="about_us_tr">
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/contacts/"
            ><i class="fa fa-pen"></i>&nbsp;{{page.Contacts}}</a
          >
        </td>
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/social/"
            ><i class="fas fa-bullhorn"></i>&nbsp;Social Network</a
          >
        </td>
      </tr>
    </table>
  </div>
</div>

<style>
  .tdDonations {
    text-align: center;
    border: 1px solid rgba(129, 129, 129, 0.255);
    overflow: auto;
    padding: 5px;
    font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
  }

  .tableDonations {
    width: 100%;
    text-align: center;
    overflow: auto;
  }

  .counter-container {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .counter-value {
    font-size: 1.2rem;
  }

  .counter-explosion {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    transform: scale(0);
    animation-name: explode;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes explode {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
</style>

<script>
  const counterValue = document.querySelector(".counter-value");
  const counterContainer = document.querySelector(".counter-container");

  let count = 0;
  let frequency = 2;
  var intervalId = null;
  let endChar = "♾️";
  let countMax = 999;

  const incrementCount = () => {
    count++;
    counterValue.textContent = count;

    if (count === countMax) {
      const explosion = document.createElement("div");
      explosion.classList.add("counter-explosion");
      counterContainer.appendChild(explosion);

      setTimeout(() => {
        explosion.remove();
        counterValue.textContent = endChar;
      }, 1000);

      clearInterval(intervalId);
      counterValue.textContent = endChar;
    }
  };

  intervalId = setInterval(incrementCount, frequency);
</script>
