---
layout: default
---

<div class="wrapper">
  <div class="card white aboutCard struttura noCenter">
    <div style="padding-top: 5px"></div>
    <h2>{{page.Ltitle}}</h2>
    <div style="padding-top: 15px"></div>
    <div><span> {{page.desc}} </span> 🔮</div>
    <div style="padding-top: 15px"></div>
    <div>
      <ul>
        <li>
          {{page.t1}}
          <a href="https://www.color-hex.com/color/1056ae">#1056ae</a>
          <span
            style="
              min-width: 1.6rem;
              display: inline-block;
              background-color: #1056ae;
            "
            >&nbsp;</span
          >
        </li>
        <li>
          I bannati dal network sono
          <span id="counter" class="explode">0</span>
        </li>
      </ul>
    </div>

    <div style="padding-top: 15px"></div>

    <hr />
    <table class="fullWidth accentText">
      <tr class="about_us_tr">
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/contacts/"
            ><i class="fa fa-pen"></i>&nbsp;{{page.Contacts}}</a
          >
        </td>
        <td class="about_us_td">
          <a class="about_us_tr" href="/{{page.Lang}}/learnmore/social/"
            ><i class="fas fa-bullhorn"></i>&nbsp;Social Network</a
          >
        </td>
      </tr>
    </table>
  </div>
</div>

<style>
  .tdDonations {
    text-align: center;
    border: 1px solid rgba(129, 129, 129, 0.255);
    overflow: auto;
    padding: 5px;
    font-size: max(min(1rem, calc(2.5vw)), 0.55rem);
  }

  .tableDonations {
    width: 100%;
    text-align: center;
    overflow: auto;
  }

  #counter {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
  }

  .explode {
    font-size: 48px;
    text-align: center;
    position: relative;
  }

  .explode span {
    position: absolute;
    opacity: 0;
    animation-name: explode;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes explode {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(calc(100vw - 50%), calc(100vh - 50%));
    }
  }
</style>

<script>
  const explodeText = (text) => {
    const chars = text.split("");
    const explodeContainer = document.querySelector(".explode");
    let delay = 0;

    chars.forEach((char) => {
      const charSpan = document.createElement("span");
      charSpan.innerHTML = char;
      explodeContainer.appendChild(charSpan);

      setTimeout(() => {
        charSpan.style.top = `${Math.random() * 100}%`;
        charSpan.style.left = `${Math.random() * 100}%`;
        charSpan.style.opacity = 1;
      }, delay);

      delay += 50;
    });
  };

  var counter = document.getElementById("counter");
  var count = 0;

  var refreshIntervalId = null;
  refreshIntervalId = setInterval(function () {
    count++;
    counter.innerHTML = count;

    if (count > 100) {
      clearInterval(refreshIntervalId);
      explodeText(counter.innerHTML);
      //counter.innerHTML = "⬛";
    }
  }, 1);
</script>
