@font-face {
  font-family: futura;
  src: url(Futurabook.ttf);
}

code {
  display: block;
  background: #303030;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 20px;
}

html {
    background-color: #242424;
    color: white;
    line-height: 1.4;
    font-family: futura;
    text-align: justify;
}

h1 {
    font-size: 2.6em;
    text-align: center;
}

title {
    padding: 0px 0px 20px 0px;
}

.courseExpandable {
  cursor: pointer;
  outline: none;
}

.collapsible:hover{
  /* muovi un pò*/
}

.active i{
  transform: rotate(180deg);
}

.collapsible i:hover{
  cursor: pointer;
}

.collapsible i {
  padding: 3px;
  transition: all 0.4s ease;
  font-size: 1.3em;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.containerFA{
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  transition: all 0.4s ease;
}

.collapsible{
  display: flex;
}

.active:after {
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accent {
    color: #BB86FC;
}

.subtitle {
    font-size: 1.1em;
    margin-bottom: 20px
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    padding: 20px 20px;
}

.course h3:hover{
  cursor: pointer;
}

.course h3 {
    color: #03DAC5;
    font-size: 1.8em;
    text-align: left;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.course {
}

.comment {
    font-size: 1.1em;
    margin: 32px 0px;
}

.footer {
    margin-top: 32px;
    font-size: 1.1em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.telegram {
    height: 42px;
    margin-right: 1.5em;
    filter: grayscale(30%);
}

.manifest {
    height: 36px;
    filter: invert(100) brightness(85%);
    margin-right: 1.5em;
}
